body {
    margin: 0;
    padding: 0;
    background: #f4f4f4 url('../images/mainbg.jpg') repeat-x 50% 0;
    font: normal 14px/16px Arial, Helvetica, sans-serif;
    color: #4a4a4a;
}
ol.steps {
    list-style: none;
}

ol.steps li {
    margin-right: 45px;
    float: left;
}

ol.steps li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input[type="file"] {
    width: 121px;
    margin-top: 10px;
}

.thumb {
    width: 600px;
    height: 600px;
    float: right;
    margin-right: 35px;
    position: relative;
    display: inline;
    left: 0;
    padding-bottom: 15px;
}

.parent {
    overflow: hidden;
}

.card {
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    height: 350px;
}
.card i {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 36pt;
    color: yellow;
    background-color: red;
    border-radius: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

md-input-container.filters {
    padding: 0;
    font-weight: bold;
    font-size: 13pt;
    margin: 6px 0 0;
    min-width: 288px;
}

li md-checkbox {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255, 185, 52);
    font-weight: bold;
}

.apply-btn {
    font-weight: bold !important;
}

#original-image {
    float: left;
    margin-left: 15px;
}

#original-image-title {
    margin: 0 0 15px 15px;
    font-weight: bold;
    font-size: 16pt;
    color: #a29f0b;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.filter-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: #20462f;
    color: #c6ff1d;
    padding: 10px;
    border-radius: 44px;
}